body {
	background-color :rgb(221, 191, 173);
	color: rgb(219, 184, 164);
	font-family: 'Andika New Basic', sans-serif;
}


h1 {
	color: rgb(181, 150, 119);
	font-family: 'Baloo 2', cursive;
	font-size: 33px;
	font-weight: 800;
	text-justify: center;
	letter-spacing: 0.2px;	
}

h2 {     
    font-family: 'Baloo 2', cursive;
    color: rgb(206, 121, 107);
    margin-bottom: 17px;
    margin: -2px;
    padding: 12px 29px;
    font-size: 22px;
    font-weight: 600;
}


a {
	text-decoration: none;
	color: rgb(181, 150, 119);
	transition: color 0.3s ease;
}
a:hover {
	color: rgb(206, 121, 107);
}

/* design des class */

.container {
    width: 604px;
    margin: 35px auto;
}

 /*
    padding: 14px;
    box-shadow: 77px 48px 5px -84px rgba(0,0,0,0.1);
*/

.card-white {
	background: white;
    padding: 33px;
    margin: 18px auto;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
	text-align: center;

}

@media (max-width: 960px) {
	.container {
		width: 517px;
	}
}

@media (max-width: 730px) {
	.container {
		width: 417px;
	}
}

@media (max-width: 540px) {
	.container {
		width: 300px;
	}
}



.img-circle {
	width: 110px;
	height: 110px;
	border-radius: 50%;
}
.shadowed {
	box-shadow: 2px 1px 14px rgb(181, 150, 119);
}

img {
	width: 200px;
    height: 145px;
}

.btn-brown {
	background-color: rgb(181, 150, 119);
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-brown:hover {
	background-color: rgb(206, 121, 107);
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 16px;
    font-size: 51px;
	
}
.list-inline li:hover{
	color: brown;
}

#introduction p {
	margin-bottom: 36px;
}